{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        MC
        {% if collector.missCount/collector.readCount == 0 %}
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ collector.missCount }}</span>
        {% elseif collector.missCount/collector.readCount > 5 %}
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ collector.missCount }}</span>
        {% else %}
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.missCount }}</span>
        {% endif %}
        {% if collector.callcount > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.time * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Calls</b>
            <span>{{ collector.callcount }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total time</b>
            <span>{{ '%0.2f'|format(collector.time * 1000) }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Misses</b>
            {% if collector.missCount == 0 %}
                <span class="sf-toolbar-status sf-toolbar-status-green">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
            {% elseif collector.missCount > 5 %}
                <span class="sf-toolbar-status sf-toolbar-status-red">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
            {% else %}
                <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
            {% endif %}
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">
      MC
    </span>
    <strong>Memcache</strong>
    <span class="count">
        {% if collector.missCount == 0 %}
            <span class="sf-toolbar-status sf-toolbar-status-green">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
        {% elseif collector.missCount > 5 %}
            <span class="sf-toolbar-status sf-toolbar-status-red">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
        {% else %}
            <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ '%0.0f%%'|format(100*collector.missCount/collector.readCount) }}</span>
        {% endif %}
        <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Memcache Calls</h2>

    {% if not collector.callcount %}
        <p>
            <em>No calls.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, call in collector.calls %}
                <li class="{{ i is odd ? 'odd' : 'even' }}">
                    <div>
                        <strong>Name</strong>: {{ call.name }}<br />
                        <strong>Arguments</strong>: {{ call.arguments|yaml_encode() }}<br/>
                        <strong>Results</strong>: {{ call.result|yaml_encode() }}<br/>
                    </div>
                    <small>
                        <strong>Time</strong>: {{ '%0.2f'|format(call.time * 1000) }} ms
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}