{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="20" height="28" alt="MC" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DBRUYHnDz6xIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAA10lEQVRIx+2UsYoCQRBE34gKegj+hgYFrsgZ39ffBbrQyX6BgSZqYCganCd7y/aME7sVDbyemupuGOj0RpI0kDTJZU31aucP4MepizHXEGAmaePUxphrCFBI2koaZjLX8AYsgO9MBkCoDX4KHBu8BFbAxGNmdk0lrGsBnHNYyvD22HDlMUk7SaNXDf90iLA98Gy7nzAKj1l9tcwwAKWZFTktl8A6h/Wd2fx7XdLYY68sJUSShUTq1oRbM1s69THWmrCKXKhSZs2EF+CzrcjMTsC8++Q7/eoODXhHAld0cGAAAAAASUVORK5CYII=">
        <span class="sf-toolbar-status">{{ collector.totals.calls }}</span>
        {% if collector.totals.calls > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.totals.time * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Memcache Calls</b>
            <span>{{ collector.totals.calls }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Total time</b>
            <span>{{ '%0.2f'|format(collector.totals.time * 1000) }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Cache hits</b>
            <span>{{ collector.totals.hits }}/{{ collector.totals.reads }} ({{ collector.totals.ratio }})</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Cache writes</b>
            <span>{{ collector.totals.writes }}</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DBRUYIyibpwMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAqUlEQVRYw+3WTQ5AMBAF4PEuVG7EybiBozAnYiuidP5q01m2L31fBClRmza3SSltwvxs6cPDWi9EjBYEMuvVEHjZq4LAx344AgWZUAQKc2EICA4NQUD4zrgjoPhyNIjNE6BBZPPdw6/1EBy8E1EvyTPz4PEErgBT3gJYmHmy5vFnuRbgVq4BuJZLAe7lEkBIeSkgrLwEEFr+BQgvfwNUKc9ds9ea1/I2bU5u6XDs6A4LrgAAAABJRU5ErkJggg==">
    </span>
    <strong>Memcache</strong>
    <span class="count">
        <span>{{ collector.totals.calls }}</span>
        <span>{{ '%0.0f'|format(collector.totals.time * 1000) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Memcache</h2>
    {% for name, calls in collector.calls %}
        <h3>Statistics for '{{ name }}'</h3>
        <table>
        <thead><tr>
        {% for key, value in collector.statistics[name] %}
        <th>{{ key|capitalize }}</th>
        {% endfor %}
        </tr></thead><tbody><tr>
        {% for key, value in collector.statistics[name] %}
            {% if key == 'time' %}
                <td>{{ '%0.2f'|format(value * 1000) }} ms</td>
            {% else %}
                <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr></tbody></table>

        <h3>Calls for '{{ name }}'</h3>

        {% if not collector.totals.calls %}
            <p>
                <em>No calls.</em>
            </p>
        {% else %}
            <ul class="alt">
                {% for i, call in calls %}
                    <li class="{{ i is odd ? 'odd' : 'even' }}">
                        <div>
                            <strong>Name</strong>: {{ call.name }}<br />
                            <strong>Arguments</strong>: {{ call.arguments|json_encode() }}<br/>
                            <strong>Results</strong>: {{ call.result|json_encode() }}<br/>
                        </div>
                        <small>
                            <strong>Time</strong>: {{ '%0.2f'|format(call.time * 1000) }} ms
                        </small>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3>Options for '{{ name }}'</h3>
        <pre>
            {%- for key, value in collector.options[name] %}
                {{- '%-25s'|format(key~':') }} {{ value }}{{ "\n" -}}
            {% endfor %}
        </pre>
    {% endfor %}

{% endblock %}
